
<!DOCTYPE html>
<html>
<head>
    <meta chartset="utf-8">
    <meta name ="viewport" content="width=device-width,initial-scale=1">
    <title>Koa Serve HTML</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>hi luky</h1>
            <p>this is scott</p>
        </div>
        <div class="col-md-4">
            <h1>hi luky</h1>
            <h1><%= title %></h1>
        </div>
    </div>
</div>
</body>
</html>

